*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  font-family: 'thicccboi';
  background-color: #fff;
  color: #333;
}

#size{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

/* navbar section */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 9rem;
}

.nav .logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.nav .logo span{color: #e74c3c;}

.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: auto;
}

.nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav ul li a:hover{color: #e74c3c;}

.nav .nav-icons{
  display: flex;
  align-items: center;
}

.nav .nav-icons ion-icon{
  font-size: 35px;
  margin-right: -1rem;
}

.nav .nav-icons ion-icon:hover {color: #e74c3c;}

.nav .nav-icons a{
  margin-right: -0.9rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 12px 15px;
  border-radius: 15px;
  font-weight: 500;
  width: 100%;
}

.nav .nav-icons a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.nav .small a{
  margin-top: 16rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 12px 15px;
  border-radius: 15px;
  font-weight: 500;
  display: none;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav .small a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.check{
  display: none;
  color: #333;
  font-size: 35px;
}

#checkbox{display: none;}

.nav-con{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (max-width: 1000px){
  .nav{padding: 2rem 1.6rem;}

  #checkbox:checked ~ .nav-links{
    position: absolute;
    display: block;
    width: 100%;
    height: 650px;
    left: 0;
    top: 110px;
    color: #2c3e50;
    z-index: 9999;
    background-color: #f5f5f5;
  }
  .nav-links{
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    left: 0;
    top: -1067px;
    padding: 30px;
  }
  .check{
    display: block;
    background-color: #333;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
  }
  .nav .nav-links li{
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 755px){
  .nav{padding: 1rem 2rem;}

  .nav .nav-icons ion-icon {margin-right: -7rem;}

  .nav .small a{display: block;}

  .nav-con a{display: none;}
}
@media (max-width: 600px){
  #checkbox:checked ~ .nav-icons{height: 400px;}
}

/* hero section  */
.hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #333;
}

.hero-text h2{
  font-size: 3rem;
  margin-bottom: 1.8rem;
  margin-top: 6rem;
  font-weight: 500;
}

.hero-p{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #666;
  line-height: 26px;
  font-size: 17px;
  margin-bottom: 8rem;
}

@media(max-width: 980px){
  .hero-p{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .hero-text h2{
  font-size: 2.7rem;
  text-align: center;
  }
}

@media(max-width: 600px){
  .hero-p{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.grid{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.grid img{width: 97%;}

.num h5{
  font-size: 30px;
  margin-top: 8rem;
  text-align: center;
}

.group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-top: 46px;
}

.gc{
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gc h3{
  font-size: 3rem;
  color: #e74c3c;
  font-weight: 500;
}

.gc p{
  font-size: 1.6rem;
  color: #333;
  text-align: center;
  font-weight: 500;
}

.gc span{
  text-align: center;
  line-height: 28px;
  color: #666;
  font-size: 17px;
}
@media (max-width:930px){
  .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .grid{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-left: 20px;
  }
}
@media(max-width: 600px){
  .num h5{
    text-align: center;
    font-size: 27px;
  }
  .group{gap: 20px;}

  .grid{margin-left: -2px;}
}

/* agent section  */
.agents{
  background-color: #fff;
  padding: 180px 60px;
}

.agents-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.agents-head h2{
  font-size: 30px;
  font-weight: 500;
}

.agents-head span{
  font-size: 16px;
  color: #666;
  text-align: center;
}

.argents{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 70px;
}

.agent-card{
  max-width: 400px; 
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.agent-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.agent-card img{
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: contain;
  transition: all 0.3s ease;
}

.agent-card:hover img{
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.tex{
  padding: 30px 35px;
  gap: 10px;
}

.tex h4{
  font-size: 18px;
  padding-bottom: 10px;
}

.agent-card:hover > .tex h4{
  color: #e74c3c;
  transition: all 0.3s ease;
}

.tex p{
  color: #666;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 450;
  padding-bottom: 17px;
}


.ico{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
}

.ico ion-icon{
  font-size: 25px;
  color: #e74c3c;
}

.ico p{
  font-size: 16px;
  color: #000;
  text-align: center;
  padding-top: 10px;
}

@media(max-width: 1000px){
  .argents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.agent-card{max-width: 700px;}

.agents-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.agents-head h2{
  text-align: center;
  font-size: 23px;
}

.agents-head span{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
}

/* values section  */
.value-core{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 120px;
}

.core1{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.values-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.values-text h2{
  font-size: 32px;
}

.values-text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.corer{
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 42px 120px 42px 42px;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cir{
  background-color: #e74c3c;
  align-items: center;
  justify-content: center;
  padding: 26px;
  border-radius: 70px;
}

.cir ion-icon{
  font-size: 50px;
  color: #fff;
}

.cir-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.cir-text h4{
  font-size: 23px;
  font-weight: 600;
}

.cir-text p{
  font-size: 17px;
  line-height: 26px;
}

@media(max-width: 930px){
  .value-core{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
}

@media(max-width: 600px){
  .corer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 27px 18px;
  align-items: flex-start;
}
  .values-text h2{
  font-size: 26px;
  text-align: center;
}

.values-text p{
  text-align: center;
}
}

.ino1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  gap: 10px;
  background-color: #fff;
  border-radius: 22px;
  padding: 20px 25px;
  /* width: 100%; */
  max-width: 550px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.ino1:hover{border: 1px solid #e74c3c;}

.ino1 input{
  padding: 15px 35px 15px 5px;
  border: none;
  width: 100%;
}

.ino1 input::placeholder{
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.ino1 a{
  text-decoration: none;
  color: #f5f5f5;
  padding: 14px 16px;
  font-weight: 500;
  border-radius: 12px;
  align-items: center;
  background-color: #e74c3c;
  transition: transform 0.5s ease-in-out;
}

.ino1 a:hover{transform: scale(10px);}

.ino1{
  display: none;
}

.ino1.active{
  display: flex;
}

@media(max-width: 800px){
  .ino1{
    flex-direction: column;
    gap: 15px;
  }
  .ino1 input{width: 100%;}

  .ino1 a{
    width: 100%;
    text-align: center;
  }
}
/* footer section */
.footer-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 70px 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.footer-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.footer-text h3{
  font-size: 1.5rem;
  color: #333;
}

.footer-content p{
  font-size: 1rem;
  color: #666;
}

.footer-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-icons a{
  text-decoration: none;
  color: #f5f5f5;
  padding: 7px 9px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #333;
}
.footer-icons a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.footer-other{
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: #666;
}

.footer-other h4{
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
}

.subscribe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  gap: 15px;
}

.footer-other input{
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 1rem;
}

.footer-other input:hover{border: 1px solid #e74c3c;}

.sub-in{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #ccc;
  border-radius: 10px;
  /* gap: 40px; */
  padding: 5px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  max-width: 318px;
}

.sub-in:hover{border: 1px solid #e74c3c;}

.sub-in ion-icon{
  font-size: 28px;
  color: #333;
}

.sub-in input{
  padding: 15px 25px 15px 5px;
  border: none;
  background-color: #ccc;
}

.sub-in input:hover{border: none;}

.sub-in input::placeholder{
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.subscribe a{
  text-decoration: none;
  background-color: #ef4c3c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
}

.subscribe a:hover{
  background-color: #333;
  color: #fff;
}

@media(max-width: 1000px){
  .footer-content{
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 10px;
  }
  .footer-other{
    align-items: flex-start;
    margin-left: -20px;
  }
   .sub-in{
    width: 300px;
    gap: 0px;   
  }
  .sub-in input{padding: 15px 0px 15px 5px;}
}