*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ccc;
  color: #333;
}

#size{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

/* navbar section */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 9rem;
}

.nav .logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.nav .logo span{color: #e74c3c;}

.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: auto;
}

.nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav ul li a:hover{color: #e74c3c;}

.nav .nav-icons{
  display: flex;
  align-items: center;
}

.nav .nav-icons ion-icon{
  font-size: 35px;
  margin-right: -1rem;
}

.nav .nav-icons ion-icon:hover{color: #e74c3c;}

.nav .nav-icons a{
  margin-right: -0.9rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 12px 15px;
  border-radius: 15px;
  font-weight: 500;
  /* width: 100%; */
}

.nav .nav-icons a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.nav .small a{
  margin-top: 16rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 12px 15px;
  border-radius: 15px;
  font-weight: 500;
  display: none;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav .small a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.check{
  display: none;
  color: #333;
  font-size: 35px;
}

#checkbox{display: none;}

.nav-con{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (max-width: 1000px){
  .nav{padding: 2rem 1.6rem;}

  #checkbox:checked ~ .nav-links{
    position: absolute;
    display: block;
    width: 100%;
    height: 650px;
    left: 0;
    top: 110px;
    color: #2c3e50;
    z-index: 9999;
    background-color: #f5f5f5;
  }
  .nav-links{
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    left: 0;
    top: -1067px;
    padding: 30px;
  }
  .check{
    display: block;
    background-color: #333;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
  }
  .nav .nav-links li{
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 755px){
  .nav{padding: 1rem 2rem;}

  .nav .nav-icons ion-icon {margin-right: -7rem;}

  .nav .small a{display: block;}

  .nav-con a{display: none;}
}
@media (max-width: 600px){
  #checkbox:checked ~ .nav-icons{height: 400px;}
}

/* hero section  */
.hero{padding: 80px 0;}

.hero-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-head p{
  font-size: 20px;
  color: #666;
}

.hero-blo{width: 100%;}

.blo-ima{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-blo .blo-ima img{
  max-width: 860px;
  border-radius: 20px;
  margin-top: 40px;
  width: 100%;
}

.blo-text{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 20px;
  position: relative;
  padding: 68px 32px;
  gap: 26px;
  max-width: 548px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: -147px;
  z-index: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.blo-text h3{
  font-size: 32px;
  font-weight: 500;
}

.ro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blo-text:hover h3{color: #e74c3c;}

@media(max-width: 1024px){
  .hero-head{
    text-align: center;
    justify-content: center;
  }
  .hero .hero-head h2{
    font-size: 26px;
  }
  .blo-ima{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .hero-blo .blo-ima img{
  max-width: 700px;
  }
  .blo-text{margin: -178px 40px 0;}
}

@media(max-width: 600px){
  .blo-text{margin: -50px 40px 0;}
}

.boo{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 60px auto;
  align-items: center;
  justify-content: center;
  gap: 18px;
  
}

.boo1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 60px auto;
  align-items: center;
  justify-content: center;
  gap: 18px;
  
}

.bu{
  max-width: 430px; 
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, box-shadow 0.3s;
  overflow: hidden;
  width: 100%;
}

.bu:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.bui img{
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: contain;
  transition: all 0.3s ease;
}

.bui:hover img{
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.bu-text{
  padding: 20px 25px;
  gap: 10px;
}

.bu-text h3{
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.bu-text p{
  color: #666;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 450;
  padding-top: 17px;
}

.bu:hover h3{color: #e74c3c;}

@media(max-width: 1024px){
  .boo{
    gap: 20px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
  }
  .bu {max-width: 670px;}

  .bu-text{padding: 30px 35px;}
}

/* post section  */
.post-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-head h2{font-size: 40px;}

.post-small ul{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 25px;
}

.post-small li{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
   color: #666;
   background-color: #f5f5f5;
   padding: 12px 15px;
   border-radius: 24px;
   list-style: none;
}

.post-small li:hover{
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}

/* .post-small li.active{
  background: #e74c3c;
  color: #ffffff;
} */

.post-head ul li.active{
  background: #e74c3c;
  color: #ffffff;
}

@media(max-width: 800px){
  .post-head{
    text-align: center;
    justify-content: left;
    gap: 6px;
  }
  .post-small ul{
    margin-top: 15px;
    justify-content: left;
    gap: 18px;
    margin-bottom: -30px;
  }
}

/* search section  */
.searc{
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 100px 120px;
  text-align: center;
  align-items: center;
   display: flex;
  flex-direction: column;
  margin: 140px 0;
}

.sear-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sear-text h4{font-size: 30px;}

.sear-text p{
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

.main-fe{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.ino{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  border-radius: 22px;
  padding: 20px 25px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.ino:hover{border: 1px solid #e74c3c;}

.ino input{
  padding: 15px 35px 15px 5px;
  border: none;
  width: 100%;
}

.ino input::placeholder{
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.ino a{
  text-decoration: none;
  color: #f5f5f5;
  padding: 14px 16px;
  font-weight: 500;
  border-radius: 12px;
  align-items: center;
  background-color: #e74c3c;
  transition: transform 0.5s ease-in-out;
}

.ino a:hover{transform: scale(10px);}

@media(max-width: 800px){
  .searc{
    padding: 60px 30px;
    margin: 80px 0;
  }
  .main-fe{
    flex-direction: column;
    gap: 20px;
  }
  .ino{
    flex-direction: column;
    gap: 15px;
  }
  .ino input{width: 100%;}

  .ino a{
    width: 100%;
    text-align: center;
  }
  .ino1{
    flex-direction: column;
    gap: 15px;
  }
  .ino1 input{width: 100%;}

  .ino1 a{
    width: 100%;
    text-align: center;
  }
}

.ino1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  gap: 10px;
  background-color: #fff;
  border-radius: 22px;
  padding: 20px 25px;
  /* width: 100%; */
  max-width: 550px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.ino1:hover{border: 1px solid #e74c3c;}

.ino1 input{
  padding: 15px 35px 15px 5px;
  border: none;
  width: 100%;
}

.ino1 input::placeholder{
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.ino1 a{
  text-decoration: none;
  color: #f5f5f5;
  padding: 14px 16px;
  font-weight: 500;
  border-radius: 12px;
  align-items: center;
  background-color: #e74c3c;
  transition: transform 0.5s ease-in-out;
}

.ino1 a:hover{transform: scale(10px);}

.ino1{
  display: none;
}

.ino1.active{
  display: flex;
}

/* footer section */
.footer-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 70px 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.footer-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.footer-text h3{
  font-size: 1.5rem;
  color: #333;
}

.footer-content p{
  font-size: 1rem;
  color: #666;
}

.footer-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-icons a{
  text-decoration: none;
  color: #f5f5f5;
  padding: 7px 9px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #333;
}
.footer-icons a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.footer-other{
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: #666;
}

.footer-other h4{
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
}

.subscribe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  gap: 15px;
}

.footer-other input{
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 1rem;
}

.footer-other input:hover{
  border: 1px solid #e74c3c;
}

.sub-in{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 5px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  max-width: 318px;
}

.sub-in:hover{border: 1px solid #e74c3c;}

.sub-in ion-icon{
  font-size: 28px;
  color: #333;
}

.sub-in input{
  padding: 15px 25px 15px 5px;
  border: none;
  background-color: #ccc;
}

.sub-in input:hover{border: none;}

.sub-in input::placeholder{
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.subscribe a{
  text-decoration: none;
  background-color: #ef4c3c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
}

.subscribe a:hover{
  background-color: #333;
  color: #fff;
}

@media(max-width: 1000px){
  .footer-content{
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 10px;
  }
  .footer-other{
    align-items: flex-start;
    margin-left: -20px;
  }
   .sub-in{
    width: 300px;
    gap: 0px;
    
  }
  .sub-in input{padding: 15px 0px 15px 5px;}
}