@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

#size{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
/* navbar section */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 9rem;
  /* background-color: #fff; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.nav .logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.nav .logo span{
  color: #e74c3c;
}

.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: auto;
}

.nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav ul li a:hover{
  color: #e74c3c;
}

.nav .nav-icons{
  display: flex;
  align-items: center;
  /* gap: 3rem; */
}

.nav .nav-icons ion-icon{
  font-size: 35px;
  margin-right: -1rem;
}

.nav .nav-icons ion-icon:hover{
  color: #e74c3c;
}

.nav .nav-icons a{
  margin-right: -0.9rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 12px 15px;
  border-radius: 15px;
  font-weight: 500;
  width: 100%;
  /* transition: background-color 0.3s; */
}

.nav .nav-icons a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.nav .small a{
  margin-top: 16rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 12px 15px;
  border-radius: 15px;
  font-weight: 500;
  display: none;
  align-items: center;
  text-align: center;
  width: 100%;
  /* transition: background-color 0.3s; */
}

.nav .small a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.check{
  display: none;
  color: #333;
  font-size: 35px;
}

#checkbox{
  display: none;
}

.nav-con{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (max-width: 1000px){
  .nav{
    padding: 2rem 1.6rem;
  }
  #checkbox:checked ~ .nav-links{
    position: absolute;
    display: block;
    width: 100%;
    height: 650px;
    left: 0;
    top: 110px;
    color: #2c3e50;
    z-index: 9999;
    background-color: #f5f5f5;
  }
  .nav-links{
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    left: 0;
    top: -1067px;
    padding: 30px;
  }
  .check{
    display: block;
    background-color: #333;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
  }
  .nav .nav-links li{
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 755px){
  .nav{
    padding: 1rem 2rem;
  }
  .nav .nav-icons ion-icon{
    margin-right: -7rem;
  }
  .nav .small a{
    display: block;
  }
  .nav-con a{
    display: none;
  }
}
@media (max-width: 600px){
  #checkbox:checked ~ .nav-icons{
    height: 400px;
  }
}

/* hero section  */
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  /* height: 80vh; */
  text-align: center;
  padding: 0 2rem;
}

.hero-text h1{
  font-size: 3rem;
  color: #333;
  text-align: center;
  margin-top: 6rem ;
  /* margin-bottom: 1rem;
  align-items: center; */
}

.hero-text h1 span{
  color: #e74c3c;
}

.hero-text p{
  font-size: 1.2rem;
  color: #666;
  margin: 1.5rem 0 2.5rem 0;
  line-height: 1.8rem;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-btn{
  text-decoration: none;
  padding: 18px 32px;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #333;
  color: #fff;
}

.toa-btn{
  text-decoration: none;
  padding: 18px 38px;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #fff;
  color: #333;
}

/* .pro-btn{
  background-color: #333;
  color: #fff;
} */

.pro-btn:hover{
  background-color: #e74c3c;
  color: #fff;
}

/* .toa-btn{
  
} */

.toa-btn:hover{
  background-color: #ef4c3c;
  color: #fff;
}

@media (max-width: 1000px){
  .hero-text h1{
    font-size: 2.5rem;
  }
  .hero-text p{
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (max-width: 515px){
  .hero-text h1{
    font-size: 2rem;
  }
  .hero-text p{
    font-size: 0.9rem;
  }
  .button{
    flex-direction: column;
    gap: 10px;
  }

  .pro-btn, .toa-btn{
    padding: 16px 80px;
    font-size: 0.9rem;
  }
  .toa-btn{
    padding: 16px 84px;
    font-size: 0.9rem;
  }
}

.house{
  position: relative;
  width: 100%;
  margin-top: 120px;
  /* background-color: red; */
}

.hand{
  width: 100%;
}

.duplex{
  /* position: absolute;
  top: 320px;
  left: 130px; */
  
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.interior{
  position: absolute;
  top: 270px;
  right: 100px;
  width: 40%;
  max-width: 900px;
  border-radius: 20px;
}

@media (max-width: 1080px){
  /* .duplex{
    max-width: 900px;
} */
  .interior{
    /* top: 485px; */
    bottom: 0px;
    right: 0px;
    min-width: 450px;
}
}

.one{
  padding: 1rem 2rem; 
  margin-top: 15rem;
  background-color: #f5f5f5;
}

.one p{
  display: none;
}

/* apartment section */
.apartment{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 2rem;
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* margin-top: 50rem; */
  background-color: #fff;
}

.apartment-text h2{
  font-size: 2rem;
  color: #333;
  text-align: center;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}

.apartment-text p{
  font-size: 1rem;
  color: #666;
  text-align: center;
  line-height: 1.8rem;
}

@media (max-width: 1000px){
  .apartment-text h2{
    font-size: 1.8rem;
  }
  .apartment-text p{
    font-size: 0.9rem;
  }
}

@media (max-width: 515px){
  .apartment-text h2{
    font-size: 1.5rem;
  }
  .apartment-text p{
    font-size: 0.8rem;
  }
}

.apartment-cards{
  width: 100%;
  min-height: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5rem 2rem;
}

.card{
  max-width: 550px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
  position: relative;
}

/* .card-cop image{
  
} */
.top{
  position: absolute;
  top: 20px;
  left: 440px;
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 22px;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  color: #ef4c3c;
}

.card img{
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: contain;
}

.dis{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card1{
  padding: 20px 30px 30px 30px;
}

.dis h3{
  font-size: 1.2rem;
  /* color: #333; */
}

.dis p{
  font-size: 1.4rem;
  font-weight: 600;
  color: #ef4c3c;
  /* background-color: #f00; */
  font-weight: 600;
}

.card .first-p{
  font-size: 1rem;
  color: #333;
  margin: 1rem 0;
  line-height: 1.6rem;
}

.card hr{
  border: none;
  border-top: 1px solid #333;
  margin: 1rem 0;
}

.dis2{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.circle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 18px;
  color: #333;
}

.circle:hover{
  background-color: #e74c3c;
  color: #fff;
}

.chan{
  display: flex;
  flex-direction: column;
  position: relative;
  /* color: red; */
  /* transform: translateY(30px); */
  gap: 10px;
}

.chan1{
  display: flex;
  flex-direction: column;
  position: relative;
  /* color: blue; */
  /* transform: translateY(30px); */
  margin-top: 30px;
  gap: 10px;
}

/* .amenities section  */
.amenities{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.amenities-text{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.amenities-text h2{
  font-size: 2rem;
  color: #333;
  text-align: center;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}

.amenities-text p{
  font-size: 1rem;
  color: #666;
  text-align: center;
  line-height: 1.8rem;
}

.amenities-icon{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 3rem 2rem;
  width: 100%;
  min-height: 100%;
}

.amenity ion-icon{
  font-size: 40px;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 55px;
  padding: 35px;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.amenity{
  /* background-color: #0f0; */
  border-radius: 12px;
  max-width: 200px;
  /* width: 100%; */
  padding: 12px 16px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.amenity ion-icon:hover{
  background-color: #e74c3c;
  color: #fff;
}

.amenity p{
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
  font-weight: 600;
  /* margin-right: 25px; */
}

.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.button1 a{
  width: 100%;
}

.pro-btn1{
  text-decoration: none;
  padding: 18px 32px 18px 32px;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* width: 100%; */
  white-space: nowrap;
}

.toa-btn1{
  text-decoration: none;
  padding: 18px 38px;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.pro-btn1{
  background-color: #333;
  color: #fff;
}

.pro-btn1:hover{
  background-color: #e74c3c;
  color: #fff;
}

.toa-btn1{
  background-color: #fff;
  color: #333;
}

.toa-btn1:hover{
  background-color: #ef4c3c;
  color: #fff;
}

@media (max-width: 1000px){
  .amenities-text h1{
    font-size: 2.5rem;
  }
  .amenities-text p{
    font-size: 1rem;
    font-weight: 600;
  }
}

@media(max-width: 640px){
  .top{
    position: absolute;
    top: 20px;
    left: 340px;
  }
  .amenity{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .button1{
    flex-direction: column;
    gap: 10px;
     display: flex;
  /* justify-content: center; */
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 545px){
  .amenities-icon{
    gap: 50px;
  }
  .amenities-text h1{
    font-size: 2rem;
  }
  .amenities-text p{
    font-size: 0.9rem;
  }
  .button1{
    flex-direction: column;
    gap: 10px;
  }

  .pro-btn1, .toa-btn1{
    padding: 16px 80px;
    font-size: 0.9rem;
  }
  .toa-btn1{
    padding: 16px 84px;
    font-size: 0.9rem;
  }

  .top{
    position: absolute;
    top: 20px;
    left: 220px;
  }
}

/* @media(max-width: 550px){
  .top{
    position: absolute;
    top: 20px;
    left: 220px;
  }
} */

@media(max-width: 400px){
  .top{
    position: absolute;
    top: 20px;
    left: 220px;
  }
  .apartment{
    padding: 3rem 1rem;
  }
}

/* purchase section */
.purchase{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 0rem 2rem; */
  width: 100%;
  min-height: 100vh;
  /* position: relative; */
  background-color: #f5f5f5;
}

.purchas{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 40px;
  /* position: relative; */
  background-color: #f5f5f5;
}

.purchase1{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.purchase-text{
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  padding: 40px;
  margin-right: 100px;
}

.purchase-text2{
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  margin-right: 100px;
}

.purchase-text h2{
  font-size: 2rem;
  color: #333;
  text-align: justify;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}

.purchase-text p{
  font-size: 1.2rem;
  color: #666;
  text-align: justify;
  line-height: 1.8rem;
}

.purchase-icon{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 2rem;
}

.purchase-item{
  display: flex;
  align-items: center;
  gap: 8px;
}

.purchase-item ion-icon{
  font-size: 24px;
  color: #e74c3c;
}

.purchase-item p{
  font-size: 1.2rem;
  color: #666;
}

.purchase-img{
  width: 124%;
  height: 750px;
}

.purchase-img img{
  object-fit: cover;
  height: 100%;
}

.purchase2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 140px;
  margin-left: -250px;
}

.purchase-text2 h2{
  font-size: 2rem;
  color: #333;
  text-align: justify;
  line-height: 2.8rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.purchase-text2 p{
  font-size: 1.2rem;
  color: #666;
  text-align: justify;
  line-height: 1.8rem;
}

.group{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
  justify-content: start;
  align-items: start;
  gap: 60px;
  margin-top: 40px;
  /* text-align: justify; */
}

.gc{
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gc h3{
  font-size: 3rem;
  color: #e74c3c;
  font-weight: 500;
}

.gc p{
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  /* font-style: italic; */
  font-weight: 500;
}

.about-btn{
  /* margin-top: 85px; */
  background-color: #333;
  padding: 18px 20px;
  border-radius: 10px;
  font-weight: 500;
  margin: 50px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 30%;
  /* background-color: #333; */
  /* color: #fff; */ 

}

.about-btn a{
  text-decoration: none;
  color: #fff;
  /* background-color: #333; */
}

.purchase2 .about-btn:hover{
  background-color: #e74c3c;
  color: #fff;
}

@media (max-width: 1000px){
  .purchase1{
    flex-direction: column;
    gap: 40px;
    margin-left: 0px;
  }

  .purchase2{
    flex-direction: column-reverse;
    gap: 40px;
    margin-left: 0px;
  }

  .purchase-text, .purchase-text2{
    margin-right: 0px;
    padding: 20px;
    text-align: center;
  }
  .purchase-img{
    width: 100%;
    height: auto;
  }
  .group{
    margin-left: 0px;
  }
  .gc h3{
    font-size: 2.5rem;
    margin-left: 0px;
  }
  .about-btn{
    width: 80%;
    margin: 20px 0px;
    white-space: nowrap;
    margin: 15px auto;
    cursor: pointer;
  }
}

/* footer section */

/* footer{
  background-color: #f5f5f5;
  color: #333;
  padding: 2rem 0;
  text-align: center;
} */

.footer-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 70px 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.footer-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.footer-text h3{
  font-size: 1.5rem;
  color: #333;
  /* margin-bottom: 0.5rem; */
}

.footer-content p{
  font-size: 1rem;
  color: #666;
}

.footer-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-icons a{
  text-decoration: none;
  color: #f5f5f5;
  padding: 7px 9px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #333;
}
.footer-icons a:hover{
  background-color: #e74c3c;
  color: #fff;
}

.footer-other{
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: #666;
}

.footer-other h4{
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
}

.subscribe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  gap: 15px;
}

.footer-other input{
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 1rem;
}

.footer-other input:hover{
  border: 1px solid #e74c3c;
}

.sub-in{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #ccc;
  border-radius: 10px;
  /* gap: 40px; */
  padding: 5px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  max-width: 320px;
}

.sub-in:hover{
  border: 1px solid #e74c3c;
}
.sub-in ion-icon{
  font-size: 28px;
  color: #333;
}

.sub-in input{
  padding: 15px 25px 15px 5px;
  border: none;
  background-color: #ccc;
}

.sub-in input:hover{
  border: none;
}
.sub-in input::placeholder{
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.subscribe a{
  text-decoration: none;
  background-color: #ef4c3c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
}

.subscribe a:hover{
  background-color: #333;
  color: #fff;
}

@media(max-width: 1000px){
  .footer-content{
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    /* text-align: center; */
  }
  .footer-other{
    align-items: flex-start;
    margin-left: -20px;
  }
}